# Core Agent Framework
google-adk==1.21.0

# Google Cloud & APIs
google-genai
google-cloud-firestore
google-cloud-discoveryengine
google-cloud-bigquery
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# YouTube Specific
youtube-transcript-api

# Frontend & Utilities

streamlit
python-dotenv

requests

certifi
